{% extends 'base.html' %}

{% block content %}

{% if user.is_authenticated %}

<h1>Literatura</h1>
<table class="table table-striped table-hover table-bordered">
  <thead class="table-dark">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Title</th>
      <th scope="col">Author</th>
      <th scope="col">Chapter Currently Reading</th>
      <th scope="col">Genre</th>
      <th scope="col">Finished?</th>
      <th scope="col">Date Added</th>
    </tr>
  </thead>
  <tbody>
    
{% if records %}
  {% for record in records %}
      <tr>
          <td><a href="{% url 'record' record.id %}">{{ record.id }}</td>
          <td>{{ record.title }}</td>
          <td>{{ record.author }}</td>
          <td>{{ record.curr_chapt}}</td>
          <td>{{ record.genre }} </td>
          <td>{{ record.status }}</td>
          <td>{{ record.created_at }}</td>
      </tr>
  {% endfor %}

{% endif %}


      </tbody>
    </table>


{% else %}

<div class="col-md-6 offset-md-3">
<h1>Login</h1>
<h6>hehe</h6>

<form method="POST" action="{% url 'home' %}">
	{% csrf_token %}
  <div class="mb-3">
    <input type="text" class="form-control" name="username", placeholder="Username" required>
    <br/>
  <div class="mb-3">
    <input type="password" class="form-control" name="password", placeholder="Password" required>
  </div>
  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1" required>
    <label class="form-check-label" for="exampleCheck1">check kung gusto mo mamatay</label>
  </div>
  <button type="submit" class="btn btn-secondary">Login</button>
</form>

{% endif %}


{% endblock %}